.board-tile {
  height: 100px;
  width: 100px;
  outline: none;
  cursor: pointer;
  transition: all 300ms;
  background-color: 
}
.board-tile:hover {
  transform: rotateY(20deg);
    box-shadow: 0 5px 5px rgba(50,50,50,.2);
    transform-style: preserve-3d;
}
.board-tile.wrong {
  /* // background: url('http://www.superlean.nl/Files/2/74000/74833/ProductPhotos/MaxContent/247972531.jpeg'); */
  background: url('../../images/angrysmiley.png');
  background-color: rgb(195, 192, 224);
  background-size: 100px 100px;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  
}

.board-tile.right {
  background: url('../../images/happysmiley.png');
  background-color:rgb(195, 192, 224);
   background-size: 100px 100px;
   transform: rotateY(180deg);
   transform-style: preserve-3d;
}