body {
  background-color: #edebe3
}
.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.board-container {
  width: 450px;
  margin: 0 auto;

}
.notYourTurn {
  /* visibility: hidden */
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: center
}
.yourTurn {
  font-size: 20px;
  color: green;
  font-weight: bold;
  text-align: center
}